<!DOCTYPE HTML>
<!--IE兼容-->
	<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
<!--<![endif]-->

<html>
	<head>
		<meta charset="UTF-8"/>

	<link href="/stylesheets/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/basic.css">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/index.js"></script>
	<title><%= title %></title>
		</head>
	<body>

		<div class="header">
			<form class="navbar-search" action="" method="post">
				<input class="form-control search-query" type="text" placeholder="搜索话题"></input><span><i class="icon icon-search"></i></span>
			</form>
			<div class="user-nav">
				<a class="btn btn-primary button" href="/reg">登录</a>
				<a class="btn btn-success button" href="#">注册</a>
			</div>
			<div class="nofloat"></div>
		</div>
		<div class="content">
			<div class="container">
				<div class="col-md-9 col-sm-12 content-left nomargin">
					<ul class="nav nav-tabs hidden-xs">
						<li><i class="icon icon-list"></i></li>
						<li class="active"><a href="">最新</a></li>
						<li><a href="">推荐</a></li>
						<li><a href="">热门</a></li>
						<li><a href="">等待回复</a></li>
					</ul>
					<div class="list">
						<div class="item" data-topic-id>
							<img src="/images/touxiang.png" alt="">
							<div class="item-content">
								<h4><a href="#">题目</a></h4>
								<p>作者</p>
							</div>
							<div class="nofloat"></div>
						</div>
						<div class="item" data-topic-id>
							<img src="/images/touxiang.png" alt="">
							<div class="item-content">
								<h4><a href="#">题目</a></h4>
								<p>作者</p>
							</div>
							<div class="nofloat"></div>
						</div>
					</div>		
				<div class="content-footer pull-right">
					<ul class="pagination">
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
					</ul>
				</div>
				</div>
				<div class="col-md-3 col-sm-12 content-right">
					<div class="HotTopic-head">
						<h4>热门话题</h4>
						<a href="#">更多</a>
						<div class="nofloat"></div>
					</div>
					<div class="HotTopic-body border-bottom-gray">
						<dl >
							<dt class="div-radius-2 pull-left">
								<img src="/images/topic.png">
							</dt>
							<dd class="pull-left">
								<a href="#">话题题目</a>
								<p class="font-10-gray"><span >1</span>人关注</p>
							</dd>
							<div class="nofloat"></div>	
						</dl>
							<dl >
							<dt class="div-radius-2 pull-left">
								<img src="/images/topic.png">
							</dt>
							<dd class="pull-left">
								<a href="#">话题题目</a>
								<p class="font-10-gray"><span >1</span>人关注</p>
							</dd>
							<div class="nofloat"></div>	
						</dl>
							<dl >
							<dt class="div-radius-2 pull-left">
								<img src="/images/topic.png">
							</dt>
							<dd class="pull-left">
								<a href="#">话题题目</a>
								<p class="font-10-gray"><span >1</span>人关注</p>
							</dd>
							<div class="nofloat"></div>	
						</dl>
							<dl >
							<dt class="div-radius-2 pull-left">
								<img src="/images/topic.png">
							</dt>
							<dd class="pull-left">
								<a href="#">话题题目</a>
								<p class="font-10-gray"><span >1</span>人关注</p>
							</dd>
							<div class="nofloat"></div>	
						</dl>
							<dl >
							<dt class="div-radius-2 pull-left">
								<img src="/images/topic.png">
							</dt>
							<dd class="pull-left">
								<a href="#">话题题目</a>
								<p class="font-10-gray"><span >1</span>人关注</p>
							</dd>
							<div class="nofloat"></div>	
						</dl>
					</div>
					<div class="HotTopic-head">
						<h4>热门用户</h4>
						<a href="#">更多</a>
						<div class="nofloat"></div>
					</div>
					<div class="HotTopic-body">
						<dl >
							<dt class="div-radius-2 pull-left">
								<img src="/images/touxiang-s.png">
							</dt>
							<dd class="pull-left">
								<a href="#">用户名称</a>
								<p class="font-10-gray"><span >1</span>人关注</p>
							</dd>
							<div class="nofloat"></div>	
						</dl>
							<dl >
							<dt class="div-radius-2 pull-left">
								<img src="/images/touxiang-s.png">
							</dt>
							<dd class="pull-left">
								<a href="#">用户名称</a>
								<p class="font-10-gray"><span >1</span>人关注</p>
							</dd>
							<div class="nofloat"></div>	
						</dl>
							<dl >
							<dt class="div-radius-2 pull-left">
								<img src="/images/touxiang-s.png">
							</dt>
							<dd class="pull-left">
								<a href="#">用户名称</a>
								<p class="font-10-gray"><span >1</span>人关注</p>
							</dd>
							<div class="nofloat"></div>	
						</dl>
							<dl >
							<dt class="div-radius-2 pull-left">
								<img src="/images/touxiang-s.png">
							</dt>
							<dd class="pull-left">
								<a href="#">用户名称</a>
								<p class="font-10-gray"><span >1</span>人关注</p>
							</dd>
							<div class="nofloat"></div>	
						</dl>
							<dl >
							<dt class="div-radius-2 pull-left">
								<img src="/images/touxiang-s.png">
							</dt>
							<dd class="pull-left">
								<a href="#">用户名称</a>
								<p class="font-10-gray"><span >1</span>人关注</p>
							</dd>
							<div class="nofloat"></div>	
						</dl>
					</div>
				</div>
					<a class="page-up"  href="#" ><img src="/images/page-up.png"></a>
				</div>
		</div>
		<div class="footer">
			
			
			</div>
		</body>
	
	</html>
